# Zend Studio
.settings/
.buildpath
.project

# Jetbrains
.idea/

# Vagrant
.vagrant/

# foursquare credentials
config/foursquare.yml

# composer and corresponding third party libs
composer.lock
composer.phar
vendor/

# Berkshelf
Berksfile.lock
